.content {
	display: flex;
	justify-content: center;
}

.bounding-box {
	border: 1px solid #000;
	position: fixed;
	top: 100px;
	bottom: 100px;
	left: 200px;
	right: 200px;
}

.bounding-box2 {
	border: 1px solid #aaa000;
	position: fixed;
	top: 150px;
	bottom: 150px;
	left: 300px;
	right: 300px;
}
/*.header {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}*/

.inputInfo {
	display: flex;
	flex-direction: column;
	width: 300px;
	margin: 10px;
}

.names {
	display: flex;
}

input {
	margin: 9px;
	padding: 5px;
}

label {
	font-size: 12px;
	font-family: Arial;
}
